@media (max-width:1200px){
    .carousel-caption{
        bottom: 40%;
    }
}
@media (max-width:991px){
    .carousel-caption{
        bottom: 30%;
    }
    .navigation_bar{
        background-color: black;
        margin-top: 10px;
    }
    .banner{
        /* margin-top: 4rem; */
        padding-top: 4.2rem;
    }
}

@media (max-width:635px){
    .carousel-caption{
        bottom: 15%;
    }
}

@media (max-width:500px){
    .carousel-caption{
        bottom: 2%;
    }
    .carousel-caption h2{
        font-size: 1rem;
    }
}